*
{
	margin: 0;
}

body
{
	font-family: tahoma, sans-serif;
	font-size: 12px;
}

#wrap
{
    width: 960px;
    margin: 100px auto 15px;
}

#left
{
    float: left;
    clear: none;
}

#right
{
    float: left;
    clear: none;
    margin-top: 110px;
}

.outer
{
    padding: 25px;
}

.row
{
    margin: 5px 0;
    float: left;
    clear: both;
	width: 320px;
}

input[type="text"], input[type="password"]
{
	border: 1px solid #ADADAD;
	padding: 3px 5px 6px;
	border-radius: 3px;
	width: 310px;
	height: 25px;
	font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
	font-size: 18px;
	box-shadow: inset 0 2px 6px 1px #E0E0E0;
}

.fl
{
	float: left;
}

.fr
{
	float: right;
}

#create
{
	padding: 5px;
}

#create a, #create a:visited, #create a:active
{
	color: rgb(0, 163, 255);
}

input[type="button"]
{
    padding: 6px;

    border: 1px solid rgb(93, 135, 189);
    border-radius: 3px;
    background-color: rgb(99, 176, 219);
    font-weight: bold;
    font-family: tahoma, sans-serif;
    color: white;
    font-size: 14px;
    float: right;
}

#left, #right
{
	user-select: none;
	-webkit-user-select: none;
}

input::-webkit-input-placeholder {
    color: #5e5e5e;
}