<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{rootUri}}/">
                <img id="logo-image" alt="ETF Sarajevo" src="{{rootUri}}/imgs/etf_logo.svg">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <!--<li class="dropdown">-->
                <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Upis <b class="caret"></b></a>-->
                <!--<ul class="dropdown-menu">-->
                <!--{% for clanak in clanci %}-->
                <!--<li><a href="{{rootUri}}/clanak/{{clanak.clanakId}}">{{clanak.naziv}}</a></li>-->
                <!--{% endfor %}-->
                <!--</ul>-->
                <!--</li>-->
                {% for item in menu %}
                <li>
                    <a href="{{rootUri}}/kategorija/{{item.id}}/media/">{{item.naziv}}</a>
                </li>
                {% endfor %}
                {% if ulogovan and ulogovan.rola <= 501 %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Admin <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{rootUri}}/admin/editor/">Novi članak</a></li>
                        <li><a href="{{rootUri}}/admin/uploader/">Upravljanje datotekama</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if ulogovan %}
                <li>
                    <a href="{{rootUri}}/logout/">Odjavi se</a>
                </li>
                {% endif %}
                {% if not ulogovan and not android %}
                <li>
                    <a href="{{rootUri}}/login/">Prijavi se</a>
                </li>
                {% endif %}
            </ul>

        </div>
    </div>
</div>
