{% extends "@base/main.html" %}
{% block content %}
<form>
    <textarea name="editor1" id="editor1" rows="10" cols="80">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque dictum posuere orci tempus scelerisque. Vestibulum eu rhoncus mauris. Proin scelerisque lectus in augue efficitur efficitur. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam fringilla erat quam, non iaculis nisl tincidunt a. Curabitur vitae lobortis justo. Nunc a posuere massa. Donec viverra tellus ac nulla mattis volutpat. Nam finibus arcu mi. Vestibulum venenatis, tortor in auctor condimentum, elit metus pellentesque diam, id facilisis ante massa sed ipsum. Aliquam at felis sed leo tempus tincidunt. Nulla pellentesque rhoncus nibh, sed mollis nibh egestas at. Mauris eu ultricies tortor.

Donec non aliquet est. Vestibulum ut commodo orci. Donec nec lacus eu erat blandit venenatis in sed orci. Integer neque nibh, interdum nec mi in, elementum ullamcorper enim. Sed sollicitudin lacus purus, luctus cursus nisl pharetra sit amet. Sed gravida porta risus, a gravida eros ultricies ac. Ut dignissim, nunc ut luctus mattis, dui dui blandit neque, ut ultrices augue nisi quis sem. Morbi maximus urna id elit aliquet consequat a quis mauris. Suspendisse vitae orci diam. Cras posuere lectus vel ornare porttitor. Sed lectus metus, semper quis erat a, ultricies ornare nulla. Sed venenatis laoreet risus et tristique. Proin congue volutpat aliquet. Phasellus hendrerit elementum dictum. Praesent condimentum interdum justo ut euismod. Fusce ornare felis non hendrerit fermentum.

Fusce malesuada purus at felis egestas viverra. In varius rhoncus porttitor. Cras ac tempus sapien. Morbi porta elementum molestie. Duis ultricies, libero nec rhoncus accumsan, eros turpis varius enim, id porta justo ligula in magna. In faucibus, nisi sed dignissim maximus, felis lectus sodales erat, in gravida magna metus vitae turpis. Aenean sapien nulla, tincidunt in lorem nec, ornare vulputate libero. Ut ut ex ut sem cursus elementum vel in magna.
    </textarea>
    <script>
        CKEDITOR.replace('editor1');
    </script>
</form>
{% endblock %}
