{% extends "@base/main.html" %}
{% block content %}
<script>
    $(document).ready(function () {
        var button1 = document.getElementById('ckfinder-modal-1');

        button1.onclick = function() {
            selectFileWithCKFinder( 'ckfinder-input-1' );
        };

        function selectFileWithCKFinder( elementId ) {
            CKFinder.modal( {
                chooseFiles: true,
                width: 800,
                height: 600,
                onInit: function( finder ) {
                    finder.on( 'files:choose', function( evt ) {
                        console.log(evt.data.files);
                        var file = evt.data.files.first();
                        var output = document.getElementById( elementId );
                        output.value = file.getUrl();
                    } );

                    finder.on( 'file:choose:resizedImage', function( evt ) {
                        var output = document.getElementById( elementId );
                        output.value = evt.data.resizedUrl;
                    } );
                }
            } );
        }
    });
</script>
<form>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group form-group-lg">
                <input type="text" name="naslov" class="form-control" placeholder="Naslov članka">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <textarea name="editor1" id="editor1" rows="10" cols="160">
            </textarea>
            <script>
                CKEDITOR.replace('editor1');
            </script>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><strong>Status:</strong> predložak</h3>
                </div>
                <!--<div class="panel-body">-->


                <!--</div>-->
                <ul class="list-group">
                    <li class="list-group-item"><strong>Autor:</strong> Ancient Aliens</li>
                    <li class="list-group-item"><strong>Datum:</strong> 27/12/2069</li>
                </ul>
                <div class="panel-footer">
                    <button type="button" class="btn btn-primary active">Objavi</button>
                    <button type="button" class="btn btn-default active">Poništi</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-9">
            <div class="input-group">
                <input id="ckfinder-input-1" type="text" class="form-control">
                <span class="input-group-btn">
                    <button type="button" id="ckfinder-modal-1" class="btn btn-success">Dodaj priloge</button>
                </span>
            </div>
        </div>
    </div>
</form>
{% endblock %}

