{% extends "@base/main.html" %}
{% block content %}
<div class="row vertical-align">
    <div class="col-md-6">
        <img src="{{rootUri}}/imgs/etf_logo.png" alt="" id="glisa"/>
    </div>
    <div class="col-md-6 va">
        <form id="login-forma">
            <div class="form-group">
                <label for="email">Prijavi se (LDAP)</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="Korisnik"/>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="pass" name="pass" placeholder="Šifra"/>
            </div>
            <button class="btn btn-default" type="submit" form="login-forma" id="btn">Dalje</button>
        </form>
    </div>
</div>
{% endblock %}
