{% extends "@base/main.html" %}
{% block content %}
<div id="wrap">
  <div class="outer" id="left">
    <img src="{{rootUri}}/imgs/etf_logo.png" alt="" id="glisa" />
  </div>
  <div class="outer" id="right">
    <div id="login">
      <form id="forma" method="POST" action="{{baseUri}}/login/">
        <div class="row">
          <h2 class="fl">Prijavi se (LDAP)</h2>
        </div>
        <div class="row">
          <input type="text" id="email" name="email" placeholder="Korisnik" />
        </div>
        <div class="row">
          <input type="password" id="pass" name="pass" placeholder="Šifra" />
        </div>
        <div class="row">
          <input type="button" onclick="document.getElementById('forma').submit()" id="btn" value="Dalje" />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
