<!DOCTYPE HTML>
<html ng-app="erfportal">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="ETF Portal DB Projekat">
    <meta name="author" content="Amer Ratkovic">
    <meta name="author" content="Amina Memic">
    <meta name="author" content="Haris Semic">
    <meta name="author" content="Malik Koljenovic">
    <meta name="author" content="Sead Karkelja">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ETF Portal Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <script type="application/javascript" src="{{rootUri}}/js/jquery-1.11.3.min.js"></script>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="{{rootUri}}/js/main.js"></script>
    <link href="{{rootUri}}/css/main.css" rel="stylesheet">
    <!--<script type="text/javascript" src='{{rootUri}}/js/strophe.min.js'></script>-->
    {% if ulogovan %}
    <script src="{{rootUri}}/ckeditor/ckeditor.js"></script>
    <script src="{{rootUri}}/ckfinder/ckfinder.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="{{rootUri}}/css/converse.min.css">
    <script src="{{rootUri}}/js/converse.min.js"></script>
    <script>
        require(['converse'], function (converse) {
            converse.initialize({
                bosh_service_url: 'https://do.mac.ba:5281/http-bind',
                authentication: 'login',
                keepalive: true,
                i18n: locales.en,
                allow_logout: false,
                jid: '{{ulogovan.korisnik}}@do.mac.ba',
                password: '{{ulogovan.lozinka}}',
                auto_login: true,
                allow_muc: false,
                allow_registration: false,
                message_carbons: true
//                forward_messages: true
            });
        });
    </script>
    {% endif %}
    <script type="application/javascript">
        $(document).ready(
                function () {});
    </script>
</head>
<body>
<div class="container-fluid">
    {% include "@part/navbar.html" %}
    {% block content %}{% endblock %}
    {% include "@part/footer.html" %}
</div>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>-->
<script src="//cdnjs.cloudflare.com/ajax/libs/holder/2.0/holder.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<!-- <script src="{{rootUri}}/js/controllers.js"></script>
<script src="{{rootUri}}/js/sha1.js"></script> -->
</body>
</html>
